page-profile {
  #profile-content{
    background: white !important;
    width: 100%;
  }

  .toplay{
    width: 100%;
  }

  canvas{
    position: relative;
  }

  #pointer{
      z-index: 99;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ffffff;
      opacity: 0.8;
      transform: scale(0);
      transition: transform ease 200ms, opacity ease 200ms;
  }

  #pointer.pointer__visible{
    transition: transform ease 200ms, opacity ease 200ms;
    animation-duration: 500ms;
    animation-name: animPointer;
  }

  @keyframes animPointer{
    from {
      transform: scale(0);
      opacity: 0.8;
    }

    to {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  .barContainer{
      height: 300px;
      display: table;
      transition: all 0.4s ease;
    }

  .bar{
    display: table-cell;
    vertical-align: middle;
    width :5px;
    height: 0px;
    background: #cc23f2;
    border-radius: 5px;
    border: 2px solid black;
    transition: all 0.4s ease;
    display : inline-block;
  }

}

.scroll-content{
  padding: 0px !important;
}
