$mobile-l: "(min-width: 350px)";

.toolbar-background-ios{
  background: #4B54A3;
}

.toolbar-ios{
  background: #4B54A3;
}

.toolbar-title-ios{
  color: #ffffff;
}

.back-button-ios{
  color: #ffffff;
}

.ion-ios-arrow-back{
  color: #ffffff;
}

.back-button-text{
  color: #ffffff;
}

title.title-ios{
  background: #4B54A3;
  z-index: -1;
}
